html {
	font-family: Dos;
	color: #BFBFBF;
	background-color: #151515;
	font-smooth: inherit;
	font-smoothing: none !important;
	-webkit-font-smoothing: none !important;
	-moz-osx-font-smoothing: none !important;
}

body
{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
/*
div { border: 1px solid red !important; }
*/

@font-face {
	font-family: "Dos";
	src: url("res/fonts/Px437_IBM_PS2thin4.ttf");
	font-weight: normal;
}

@font-face {
	font-family: "Dos";
	src: url("res/fonts/Px437_IBM_VGA_9x16.ttf");
	font-weight: bold;
}


h1,
h2,
h3 {
	font-size: inherit;
	font-weight: inherit;
}

h1,
.emphasis {
	color: orange;
}

h2 {
	color: grey;
}

.terminal {
	border: 1px groove grey;
	padding: 20px;
	min-width: 1345px;
}

.terminal h1, #core-name-container:has(select) {
	color: black;
	background-color: grey;
	padding-left: 10px;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
}

#core-name-container:has(select)
{
	margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

select#core-name{
	font:inherit;
	font-weight:bold;
	border: inherit;
	padding-left:0;
	padding-right:0;
	display:inherit;
	text-rendering: inherit;
	text-transform: inherit;
	letter-spacing:inherit;
	border-spacing: inherit;
	color: inherit;
	text-indent: inherit;
	text-shadow: inherit;
	text-align: inherit;
	appearance: inherit;
	box-sizing: inherit;
	background: inherit;
	margin:0;
	white-space: inherit;
	border-radius:inherit;
}

#main-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	max-width: 1600px;
	padding: 20px;
}

#explanations-window {
	min-width: 300px;
	width: 20%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	position: relative;
}

#explanations {
	flex: 1;
}

#editor-column #editor-column {
	flex: 1;
}

#editor-container .row {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	width: 100%;
}

#editor-container {
	width: 40%;
	padding: 20px;
	padding-top: 0px;
	padding-bottom: 60px;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	position: relative;
}

.button-container {
	POSITION: absolute;
	bottom: 0;
}

.button-container button {
	height: 32px;
}

.speed-buttons {
	display: flex;
	flex-direction: column;
	margin-left: 15px;
	margin-right: 15px;
}

.speed-buttons button {
	font-weight: normal;
	padding: 0px;
	height: 16px;
	border: 0;
}

button#access-core {
	flex: 1;
}

#explanations-window .button-container {
	width: 100%;
}

#editor-container .button-container {
	margin-top: 16px;
	right: 20px;
	left: 20px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

button {
	background: transparent;
	font: inherit;
	color: gray;
	border: 1px solid gray;
	padding: 5px;
	width: 100%;
	font-weight: bold;
}

button:hover:not(:disabled),
button:active:not(:disabled) {
	color: black;
	border: 1px solid black;
}

button:hover:not(:disabled) {
	background: white;
	cursor: pointer;
}

button:active:not(:disabled) {
	background: orange !important;
}


#editor-container button {
	padding-right: 20px;
	padding-left: 20px;
	width: fit-content;
	margin-left: 5px;
	margin-right: 5px;
	font-size: inherit;
}

#editor-container button#run-training-program {
	flex: 1;
}

#editor-container button#run-training-program:not(:disabled) {
	background: rgb(59, 235, 59);
	color: black;
}

button:disabled {
	font-weight: normal;
	border-style: dashed;
}

button#kill-test-core:not(:disabled) {
	background: red;
	color: black;
}


@keyframes send-to-core-button-animation {
	0% {
		background: orange;
	}

	25% {
		background: lightgreen;
	}

	75% {
		background: red;
	}

	100% {
		background: orange;
	}
}

button#send-to-core {
	flex: 1;
}

button#send-to-core:not(:disabled) {
	animation-name: send-to-core-button-animation;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	color: black;
}

#core-container .button-container.horizontal button {
	width: auto;
}

#core-container .button-container.horizontal {
	display: flex;
	flex-direction: row;
	width: 100%;
}

#address-column {
	border-right: 2px groove grey;
}

#address-column div {
	border-bottom: 1px dotted grey;
}

#code-editor {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.column {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.editor-line {
	border-bottom: 1px dotted #333333;
	position: relative;
	flex: 1;
}

input#program-name {
	font-family: Dos;
	color: #BFBFBF;
	background-color: #151515;
	font-size: 16px;
	padding: 0;
	border: 0;

	padding-left: 14px;
	margin-left: 10px;
}

.row .editor-line input,
.row .editor-line .display {
	padding: 0;
	border: 0;

	padding-left: 14px;
	margin-left: 10px;

	font-family: Dos;
	color: #BFBFBF;
	background-color: #151515;
	font-size: 16px;

	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.row .editor-line input {
	caret-color: yellow;
	color: rgba(0, 0, 0, 0);
	background-color: rgba(0, 0, 0, 0);
	width: calc(100% - 24px);
	z-index: 3;
}

.row .editor-line input::selection {
	color: white;
}

.row .editor-line input:focus {
	outline: none;
	outline-width: 0;
}

.editor-line .display {
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: 0;
	z-index: 2;
}

#core-container {
	position: relative;
	flex-grow: 1;
}

#core-container #core-training {
	text-align: center;
}


#core-container #core-training .row {
	text-align: left;
}

.core {
	font-weight: normal;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.core .row {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	flex: 1;
	padding-right: 20px;
	padding-left: 20px;
}

.core .row:not(:last-child) {
	border-right: 1px solid grey;
}

.core .cell {
	white-space: nowrap;
	margin: 0 auto;
}

.core .cell.idle {
	color: #666666;
}

.editor-line .display.comment-field {
	color: #9467c7;
}

.editor-line .display.comment-field .meta
{
	color: darkorchid;
}

.editor-line .display.comment-field .meta-value
{
	color: pink;
}

#credits
{
	text-align:center; margin-top: auto; min-width:100px;
}

.credits a
{
	text-decoration: none;
	color:inherit;
}

.address-field.empty-field,
.address-field.comment-field {
	color: #666666;
}

.editor-line .display .operator {
	color: lightgreen;
}

.editor-line .display .argument-0,
#explanations .argument-0 {
	color: orange;
}

.editor-line .display .argument-1,
#explanations .argument-1 {
	color: cyan;
}

.editor-line .display .link,
#explanations .link {
	color: grey;
}

#explanations .tutorial-statement {
	color: white;
	text-decoration: underline;
	text-decoration-style: dotted;
	text-decoration-thickness: 1px;
}

#intro {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 40px;
}

#intro .text {
	flex-grow: 1;
	position: relative;
	padding-left: 40px;
}

#intro .text .intro-text {
	padding-bottom: 30px;
	max-width: 600px;
}

#intro .text .intro-text p {
	margin-top: 0px;
}

#intro .text .button-container {
	position: relative;
	text-align: center;
}

#intro .text .button-container button {
	width: auto;
	padding-right: 20px;
	padding-left: 20px;
}

#intro .text #splash-dismiss {
	color: white;
	border-color: white;
}

#intro .text #splash-dismiss:hover
{
	color:black;
	border-color:black;
}

#intro .text b {
	color: white;
}

#intro .splash {
	color: black;
	font-size: 18px;
	font-family: Dos, monospace;
	line-height: 20px;
}

#explanations .tutorial-link {
	color: white;
}

#explanations ul {
	list-style-type: none;
	padding-left: 20px;
}

#explanations li {
	margin-bottom: 10px;
}

.address-field.current-field {
	color: yellow;
}

.editor-line .display.current-field {
	border: 1px dashed rgba(255, 255, 0, 0.4);
}

.error {
	color: red;
}

.warn {
	color: orange;
}

.unknown-statement {
	color: darkred;
}

input.target-0:before {
	color: orange;
	content: "1: ";
}

input.target-1:before {
	color: cyan;
	content: "2: ";
}

input.target-0 {
	display: block;
	outline: 1px inset orange;
	box-shadow: inset 0px 0px 0px 1px orange;
}

input.target-1 {
	display: block;
	outline: 1px inset cyan;
	box-shadow: inset 0px 0px 0px 1px cyan;
}

#global-core-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#global-core-grid-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex: 1;
	max-width: 925px;
}

.global-core-grid {
	display: grid;
	grid-gap: 2px;
	grid-template-columns: repeat(8, auto);
}

.global-core-grid .cell {
	border: 1px solid gray;
	padding: 2px;
	width: 12px;
	height: 12px;
}

#scoreboard {
	position: relative;
	min-width: 20%;
}

#scoreboard #scoreboard-entries div {
	display: flex;
	flex-direction: row;
}

#scoreboard #scoreboard-entries div .score-name {
	flex: 1;
}

#scoreboard #scoreboard-entries div button {
	width: auto;
	color: white;
	border: 1px dashed red;
	font-size: 8px;
	display: inline;
	padding: 0;
	margin: 0;
}

#scoreboard #scoreboard-entries div button:hover {
	color: black;
	border-color: black;
	background-color: red;
}

@keyframes create-program-button-animation {
	0% {
		border: 1px solid white;
		color: white;
	}

	50% {
		border: 1px solid yellow;
		color: yellow;
	}

	100% {
		border: 1px solid white;
		color: white;
	}
}

#load-sample
{
	color:yellow;
	border:1px solid yellow;
	animation-name: create-program-button-animation;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

#create-program-button {
	border: 1px solid yellow;
	position: absolute;
	bottom: 0;
	animation-name: create-program-button-animation;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

#create-program-button:hover, #load-sample:hover {
	animation-name: none;
	color: black;
	border-color: black;
}

/* Force landscape */
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
	html {
		transform: rotate(-90deg);
		transform-origin: left top;
		width: 100vh;
		height: 100vw;
		overflow-x: hidden;
		position: absolute;
		top: 100%;
		left: 0;
	}
}